.person-info{
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    min-width: 300px;
    width: 100%;
    background-color: #fff;
}
.person-info__data{
    margin-left: 10px;
}