.post {
  border: 1px solid lightgrey;
  border-radius: 3px;
  max-width: 600px;
  margin-bottom: 25px;
  background-color: #fff;
}
.post__image{
  position: relative;
  text-align: center;
}
.post__image img{
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.post__imageHeart{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(0);
}
@keyframes heartAnim {
  0%{
    transform: scale(6);
    opacity: 0;
  }15%{
    opacity: 1;
    transform: scale(7);
  } 30% {
    opacity: 1;
    transform: scale(6.5);
  } 100% {
    opacity: 0;
    transform: scale(6);
  }
}


.post__header {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.post__header h4 {
  padding-left: 10px;
}
.post__text {
  padding-left: 10px;
}
.post__text h5 {
  font-weight: normal;
}
.post__commentBox {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}
.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  color: #6082a3;
  background-color: transparent;
}
.post__comments p {
  margin: 0;
  font-style: 10px;
}
.post__likes{
  transition: 1s ease-in-out;
  padding: 10px 0 0 10px ;
  display: flex;
  align-items: center;
}
.post__likes strong{
  padding-left: 5px;
}
.post__likesButton:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.post__likesCount{
  
  cursor: pointer;
}