body {
  /* margin: 10px; */
  background-color: #fafafa;
  margin-bottom: 6vh;
}
.modal__fields {
  display: flex;
  flex-direction: column;
}
.modal__logo {
  object-fit: contain;
}
.modal__errors {
  font-style: 10px;
  color: red;
}
.app__page {
  display: flex;
  justify-content: space-evenly;
}
.app_bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
}
.app_bottom-menu div {
  width: 100%;
  height: 100%;
}
.app_bottom-menu div:nth-child(even) {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.app_bottom-menu div span {
  align-items: center;
  margin-top: 5px;
  text-align: center;
}
.app_bottom-menu div:hover {
  background-color: #ececec;
}
